@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/IRANSansWeb_Bold.eot');
  src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
  url("../fonts/woff2/IRANSansWeb_Bold.woff2") format('woff2'),
  url("../fonts/woff/IRANSansWeb_Bold.woff") format('woff'),
  url("../fonts/ttf/IRANSansWeb_Bold.ttf") format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eot/IRANSansWeb_Medium.eot');
  src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
  url("../fonts/woff2/IRANSansWeb_Medium.woff2") format('woff2'),
  url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
  url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format('embedded-opentype'),
  url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format('woff2'),
  url("../fonts/woff/IRANSansWeb_UltraLight.woff  ") format('woff'),
  url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format('embedded-opentype'),
  url("../fonts/woff2/IRANSansWeb.woff2") format('woff2'),
  url("../fonts/woff/IRANSansWeb.woff") format('woff'),
  url("../fonts/ttf/IRANSansWeb.ttf") format('truetype');
}

*, body {
  font-family: IRANSans;
}

body {
  height: 10000px;
}

//custom variable section
$gold: #bf984a;
$green: #dfe9db;
$gray: #333333;
//custom style section
.custom-btn {
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important;
  background: #000000 !important;
  padding: 10px 20px !important;
  color: #fff !important;
  cursor: pointer !important;

  &:focus {
    box-shadow: none !important;
  }
}

.custom-btn-selected-detail-food {
  background: #c0994a !important;
}

.custom-title-gold-global {
  color: $gold;
}

//Menu Section
#menu-parent-top {
  padding: 0px;

  .navbar-top-item {
    .nav-item .nav-link {
      color: rgba(148, 163, 163, 0.7);
    }
  }

  .badge-shop-parent {
    background-color: #fff;
    border: 1px solid #d5d1d1;
    color: #757070;
    font-size: 16px;
    border-radius: 50px;
    line-height: 35px;
    margin-left: 10px;
    padding: 0 10px;
  }

  .send-recipe {
    background: #000000;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
}

//Header Section
#header {

}

//Food Section
.foo-item {
  border: 4px dashed #ececec;

  .item {
    padding: 45px 0px;
    cursor: pointer;
    transition: all 0.8s;

    &:hover {
      .food-icon {
        color: #fff !important;
      }

      .food-title {
        color: #fff;
      }

      .foo-item {
        border: unset !important;
      }

      background: #c29d51;
      color: #fff;
    }
  }

  .food-icon {
    color: #c0994a;
    font-size: 40px;
  }

  .food-title {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 800;
    color: #686868;
  }
}

//Food Preview Section
.food-detail-wrapper {
  .card-food-item {
    border-color: #dfe9db;
    position: relative;

    &::after {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 20px 10px 0;
      border-color: transparent #fff transparent transparent;
      position: absolute;
      left: -20px;
      top: 47px;
    }

    &:before {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 20px 10px 0;
      border-color: transparent #dfe9db transparent transparent;
      position: absolute;
      left: -20px;
      top: 47px;
    }
  }

  .list-group-parent {
    .list-group-item {
      border: none;
      position: relative;

      &::before {
        content: " ";
        height: 6px;
        width: 6px;
        background-color: #c0994a;
        border-radius: 50%;
        display: inline-block;
        left: 0;
      }
    }
  }


}

.description-food-wrapper {
  .description-food {
    line-height: 40px !important;
  }
}

//Recipes section
.header-top-recipes {
  .slogan-food {
    color: $gold;
  }
}

.outer-column {
  position: relative;
  cursor: pointer;

  &:hover {
    .hover-preview {
      display: block;
      background-color: #c29c50;
      width: 100%;
      height: 10px;
    }
  }

  .hover-preview {
    display: none;
  }
}

.recipe-inner-item-wrapper {
  padding: 10px;

  .more-recipe {
    border-bottom: 2px solid #ddd;

    .more-recipe-title {
      color: #808080;
      font-size: 15px;
    }
  }
}

//Preview Video Section
.text-wrapper {
  .detail {
    font-size: 15px;
    line-height: 30px;
    margin: 15px 0;
  }
}

.detail-day-wrapper {
  .clock-icon {
    font-size: 35px;
  }

  .day-information-parent {
    li {
      line-height: 30px;
    }

    .day {
      color: #979797;
      font-size: 12px;
    }

    .time {
      color: $gold;
      font-size: 12px;
      margin-right: 20px;
    }
  }
}

//Delicious Section
.parent-item-swiper {
  position: relative;

  &:hover {
    background: #c0994a;
    border-left: none;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;

    .custom-caret {
      display: block;
    }

    .food-icon, .food-title {
      color: #fff !important;
    }

  }

  .custom-caret {
    display: none;

    &:after {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 10px 0 10px;
      border-color: #46c06c transparent transparent transparent;
      position: absolute;
      top: 40px;
      bottom: 0;
    }
  }

  .item-slider-wrapper {
    cursor: pointer;
    position: relative;

    /*   &:hover {
         &:after {
           content: " ";
           width: 0;
           height: 0;
           border-style: solid;
           border-width: 20px 10px 0 10px;
           border-color: #007bff transparent transparent transparent;
           position: absolute;
           top: 40px;
           bottom: 0;
         }
       }*/

    .food-icon {
      color: #c0994a;
      font-size: 40px;
      margin-bottom: 14px;
    }

    .food-title {
      color: #333333;
    }
  }
}

//Selected Food
.parent-all-item {
  padding: 0 70px !important;

  .food-detail-item {
    margin-top: 50px;

    .food-title {
      color: #333;
      font-size: 25px;
      font-weight: 500;
    }

    .food-slogan {
      color: #333;
      font-size: 15px;
      font-weight: 500;
    }

    .powered-detail {
      .food-recipes-powered {
        color: #666666;
        font-weight: 800;
      }

      .recipes-name {
        color: #a3a3a3;
        margin-right: 6px;
      }
    }

    .vue-star-rating {
      display: flex;
      justify-content: center;
    }

    .ingredients-parent-item {
      li {
        position: relative;
        line-height: 40px;

        &:before {
          content: "\2713";
          width: 5px;
          height: 2px;
          color: #32ca2f;
          position: absolute;
          right: 0;
        }
      }
    }

  }
}

//Food-Blog
.card-body {
  padding: 0 !important;

  .detail-blog-wrapper {
    .title {
      color: $gray;
      font-weight: 900;
      font-size: 18px;
    }

    .creator {
      color: $gold;
    }
  }
}

//Top-chefs
.top-chef-wrapper {
  background: #f9f9f9;
}

.header-top-chef-wrapper {
  .title-introduction-section {
    color: $gold;
    font-size: 14px;
    font-weight: 400;
  }

  .title-instructions {
    color: $gray;
    font-size: 20px;
    font-weight: 600;
  }
}

.chef-item-wrapper {
  margin: 12px;

  .instructions-count {
    color: $gold;
  }

  .title-chef {
    color: $gray;
  }

  .get-more-parent {
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;

    &:hover {
      background-color: $gold;
      padding: 4px 12px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer;

      .get-more {
        color: #fff;
      }
    }

    .get-more {
      color: $gold;
    }
  }
}

.communication-parent {
  display: flex;
  justify-content: center;

  .phone-icon {
    color: $gold;
  }

  .phone-title {
    color: $gold;
    font-weight: 800;
  }

  .phone-number {
    color: $gray;
    font-weight: 800;
  }
}

.social-icon-parent {
  display: flex;
  justify-content: center;

  .social-icon-list {
    .list-item {
      border: 1px solid #ccc;
      border-radius: 50%;
      padding: 10px 18px;
      margin-left: 10px;

      .social-icon {
        color: $gray;
        vertical-align: middle;
      }
    }
  }
}
